body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f5f7fa;
  color: #333;
  margin: 0;
  padding: 0;
}
header {
  background-color: #4a90e2;
  color: white;
  padding: 1rem;
  text-align: center;
}
nav {
  background: #e0e0e0;
  padding: 0.5rem;
  text-align: center;
}
nav a {
  margin: 0 1rem;
  text-decoration: none;
  color: #333;
  font-weight: bold;
}
section {
  max-width: 800px;
  margin: 2rem auto;
  background: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
h2 {
  color: #4a90e2;
}
h3 {
  padding-left: 5px;
  color: #4a90e2;
  width: 30%;
  border-bottom: 4px solid #4a90e2;
  border-right: 3px solid #4a90e2;
  border-radius: 6px;
}
.screenshot {
  width: 100%;
  max-width: 600px;
  border: 1px solid #ccc;
  margin: 1rem 0;
}
footer {
  text-align: center;
  font-size: 0.9rem;
  color: #888;
  padding: 2rem 0;
}

/*-----
スライダー関連
-------*/
.slider{
  height: 600px;
  max-height: 700px;
  max-width: 600px;
  margin: 20px auto;
  border: 2px solid #ccc;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  position: relative;
  display: flex;
  flex-direction: column;
}

.slide {
  width: 100%;
  height: 100%;
  display: none;
  text-align: center;
  position: relative;
}
.slides-wrapper {
  max-height: none;
  overflow: hidden;
}

.slide img {
  width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 6px 6px 0 0;
  display: block;
}

.slide p {
  height: 100px;
  margin: 0;
  padding: 10px;
  font-size: 18px;
  color: #333;
  background: white;
  border-top: 1px solid #ccc;
  box-sizing: border-box;
  overflow-y: auto;
}

.slider .page-info {
  position: absolute;
  bottom: 20px;
  right: 50%;
  transform: translateX(50%);
  font-size: 16px;
  color: #333;
}

.slider button {
  position: absolute;
  bottom: 20px;
  background-color: #007bff;
  color: white;
  border: 1px solid blue;
  padding: 8px 14px;
  font-size: 18px;
  border-radius: 6px;
  cursor: pointer;
  top: auto;
}

.slider .prev {
  right: 60%;
}
.slider .next {
  left: 60%;
}

.slider .slider-controls {
  text-align: center;
  padding-top: 10px;
}

#slider_rpg {
  height: 650px;
}
#slider_js {
  height: 500px;
}
#slider_user {
  height: 500px;
}